<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
 
  <nlog>
    <targets>
      <target
        name="console"
        type="ColoredConsole"
        layout="${message}" />
      <target
        name="file"
        type="File"
        layout="${date} ${message}"
        fileName="${basedir}/log.txt"
        keepFileOpen="false"
        encoding="windows-1251" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="console" />
      <logger name="*" minlevel="Info" writeTo="file" />
    </rules>
  </nlog>

</configuration>